#data {
    display : none;
}
.deletion, .insertion, .change, .move, .move-change, .unchanged{
    border: solid 1px;
}
.deletion {
    border-color: #CC929A;
    /* border: solid 1px #E6A4AE; */
    background-color: LightPink;
}

.insertion {
    border-color: #73BE73;
    /* border: solid 1px #82D682; */
    background-color: LightGreen;
}

.change {
    border-color:  #8AADB8;
    /* border: solid 1px #9CC2CF; */
    background-color: LightBlue;
    cursor: pointer;
}

.move {
    border-color:  LightPink;
    /* border: solid 1px #BEBEBE; */
    cursor: pointer;
}

.move-change {
    border-color:  LightPink;
    background-color: LightBlue;
    /* border: solid 1px #BEBEBE; */
    cursor: pointer;
}

.unchanged {
    border-color:  #A9A9A9;
    /* border: solid 1px #BEBEBE; */
    cursor: pointer;
}

span.keyword {
    /* color: #007070; */
    font-weight: 700;
}

div.src {
    width:48%; 
    height:98%;
    overflow:scroll; 
    border:1px solid; 
    float:left;
    padding:0.5%;
}

pre {
    line-height: 200%;
}

p {
    line-height: 200%;
}
